html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

    /*Editor container*/
.editor-container {
    height: 100%;
    width: 50%;
    float: left;
}

#editor {
    position: relative;
    height: 100%;
    width: 100%;
}

    /*Live page container*/
.live-page-container {
    height: 100%;
    width: 50%;
    float: left;
}

#live {
    width: 100%;
    height: 100%;
}
select {
    width: 200px;
}
label {
    display: block;
    margin: 10px 0 0 0;
}
