body {
    margin: 0;
}
.container {
    width: 100%;
    height: auto;
}

.editor-container {
    width: 50%;
    height: auto;
    background-color: black;
    float: left;
}

.parsed-container {
    width: 50%;
    height: 100px;
    float: right;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
}
